@import url("nav.css");

body {
    background-color: rgb(117, 183, 228);
    font-family: Georgia, "Trebuchet MS", "Times New Roman";
    color: white;
}

#blog-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 24px;
}

.date {
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 14px;
}

.prompt {
    font-size: 14px;
}

.info {
    font-size: 12px;
}

.quote {
    text-align: center;
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 2em;
}

#avatar{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(209, 112, 112);
    color: white;
    text-align: center;
    font-size: 10px;
}

@media (min-width:600px) and (max-width:900px){
    body {
        background-color: rgb(117, 183, 228);
        font-family: Georgia, "Trebuchet MS", "Times New Roman";
        color: white;
    }
    
    #blog-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        font-weight: bold;
        text-decoration: underline;
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 28px;
    }
    
    .date {
        margin-top: 5px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 18px;
    }
    
    .prompt {
        font-size: 18px;
    }
    
    .info {
        font-size: 14px;
    }
    
    .quote {
        text-align: center;
        font-style: italic;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    #avatar{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(209, 112, 112);
        color: white;
        text-align: center;
        font-size: 12px;
    }
}

@media (min-width:901px){
    body {
        background-color: rgb(117, 183, 228);
        font-family: Georgia, "Trebuchet MS", "Times New Roman";
        color: white;
    }
    
    #blog-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        font-weight: bold;
        text-decoration: underline;
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 32px;
    }
    
    .date {
        margin-top: 5px;
        margin-bottom: 10px;
        font-style: italic;
        font-size: 24px;
    }
    
    .prompt {
        font-size: 20px;
    }
    
    .info {
        font-size: 16px;
    }
    
    .quote {
        text-align: center;
        font-style: italic;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    
    #avatar{
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .copyright {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(209, 112, 112);
        color: white;
        text-align: center;
        font-size: 16px;
    }
}
