#head {
    display: grid;
    grid-template-columns: 80% 1fr;
}

#navbar {
    display: flex;
    flex-direction: row;

}

.menu, .subscribe {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

.pages {
    float: left;
    border-right: 1px solid #bbb;
}

.pages .page-links, .subscribe {
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.pages .page-links:hover, .subscribe:hover {
    background-color: #111;
    cursor: pointer;
}    

@media (min-width:600px) and (max-width:900px){
    #head {
        display: grid;
        grid-template-columns: 80% 1fr;
    }
    
    #navbar {
        display: flex;
        flex-direction: row;
    
    }
    
    .menu, .subscribe {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        border-radius: 5px;
    }
    
    .pages {
        float: left;
        border-right: 1px solid #bbb;
    }
    
    .pages .page-links, .subscribe {
        font-size: 16px;
        font-weight: bold;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .pages .page-links:hover, .subscribe:hover {
        background-color: #111;
        cursor: pointer;
    }    
}

@media (min-width:901px){
    #head {
        display: grid;
        grid-template-columns: 80% 1fr;
    }
    
    #navbar {
        display: flex;
        flex-direction: row;
    
    }
    
    .menu, .subscribe {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        border-radius: 5px;
    }
    
    .pages {
        float: left;
        border-right: 1px solid #bbb;
    }
    
    .pages .page-links, .subscribe {
        font-size: 20px;
        font-weight: bold;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .pages .page-links:hover, .subscribe:hover {
        background-color: #111;
        cursor: pointer;
    }    
}